.container { 
  display: flex;
  justify-content: center;
}

.center { 
  text-align: center;
}

.hide {
  display: none;
}

#game-area {
  display: flex;
}

.box { 
  height: 200px;
  width: 200px;
  background-color: red;
  margin: 50px;
  cursor: pointer;
}